.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    
}
.product-name{
    color: blue;
    font-weight: 400;
    margin-left: 5px;
}
.product-details{
    margin-left: 6px;
}
.btn-regular{
background-color: goldenrod;
width: 150px;
height: 25px;
border: 1px solid gray;
border-radius:5px ;
margin-bottom: 10px;
cursor: pointer;
}